@charset "UTF-8";
div{
	color:white;
	padding-left: 35%;
}
body{
	background-color: #8196FF;
}
a{
	color: white;
}
table{
	margin-top: 2%;
	border-color: black;
}
#usuarioHola{
	font-family: sans-serif;
	font-size: 200%;
	padding-left: 48%;
	font-weight: bold;
}
#cerrarSesion{
	padding-left: 37%;
}