@charset "UTF-8";
input{
	margin-top:1%;
	margin-bottom: 1%;
}
body{
	background-color: #8196FF;
}
#contenedor{
	padding-left: 25%;
	padding-right: 25%;
	color:white
}
h1{
	padding-left:25%;
	color:white;
	padding-right: 25%;

}
#contenedor #bot{
	background-color:#163BF1;
	color:white;
	border-radius:20px;
}