@charset "UTF-8";

body{
	background-color: #8196FF;
	padding-left: 40%;
	padding-right: 40%;
	padding-top: 12%;
}

#formulario{
	padding-bottom: 12%;
	text-align: center;
	border: 2px solid black;
	border-radius: 20px;
	background-color: white;
}

#login{
	font-family: Arial, Helvetica, Verdana;
	font-size: 30px;
	font-weight: bold;
	color: #163BF1;
}

#soloContrasena{
	margin-bottom: 30px;
	font-family: Helvetica, Verdana;
}

#soloUsuario{
	font-family: Helvetica, Verdana;
}

#boton{
	font-family: Arial, Helvetica;
	color: white;
	background-color: #163BF1;
	border: 2px solid black;
	border-radius: 30px;
}


